body {
    background-color: cornsilk;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#main {
    width: 80%;
}

#menu {
    height: auto;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 50px;
    background-color: steelblue;
}

#title,
#text-area, #gamezone, #score, #extra-info, #strikezone{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title {
    background-color: aquamarine;
}

#text-area {
    background-color: violet;
}
#score { 
    background-color: steelblue;
    min-height: 50px;
}

#extra-info {
    background-color: steelblue;
    min-height: 50px;
}

#gamezone {
    background-color: steelblue;
    min-height: 200px;

}
#strikezone {
    background-color: steelblue;
    min-height: 200px;

}
lootbox {
    border: solid 2px black;
    padding: 10px;
    background-color: yellow;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
