body {
    background-color: cornsilk;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#main {
    width: 80%;
}

#panels{
    min-height: 200px;
    display: flex;
    align-items: flex-end;
}

#menu {
    height: auto;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 50px;
    background-color: steelblue;
}

#title,
#text-area, #gamezone, #score, #extra-info, #strikezone{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title {
    background-color: aquamarine;
}

#text-area {
    background-color: violet;
}
#score { 
    background-color: steelblue;
    min-height: 50px;
    justify-content: space-evenly;
}

#extra-info {
    background-color: steelblue;
    min-height: 50px;
}

#gamezone {
    background-color: steelblue;
    min-height: 200px;
    min-width: 70%;
display: flexbox;
justify-content: space-evenly;
}

#panel-left, #panel-right {
min-width: 25%;
}

#strikezone {
    background-color: steelblue;
    min-height: 200px;

}
go, stop, tripsRemain, currentGold, bankGold {
    border: solid 2px black;
    padding: 10px;
    
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
go {
background-color: green;
}
stop{ 
    background-color: red
}

tripsRemain, currentGold, bankGold {
background-color: yellow;
}


.pic {
    width: 100px;
    visibility: hidden;
}

.treasure {
    width: 100px
}

#indy {
    width: 100px;
}

#audiocontrols {
    display: flex;
    width: auto;
    justify-content: center;
}